:root {
	--font: Crimson Text, Times, serif;
	--h1-font: Cormorant, Times, serif;
	--header-font: Cantarell, sans-serif;
	--alt-font: Cantarell, sans-serif;
	--line-height: 1.3;
	
	--content-width: 800px;
	--content-margin: 15px;
	--content-text-width: 770px;
	
	--spacing: 15px;
	
	--color: #474853;
	--alt-color: #AAA0A0;
	--link-color: #86B3D1;
	
	--bgcolor: #FFFFFF;
	--alt-bgcolor: #FFFFFF;
}


/* MathJax options */
.MathJax {
	font-size: 0.9em !important;
}

/* CSS for main buttons */
.button {
  border: none;
  background: #FFFFFF;
  padding: 20px 30px 20px 30px;
  margin: 10px 10px -10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 24px;
  transition-duration: 0.2s;
  cursor: pointer;
  
  /* font-family: var(--header-font);
  letter-spacing: 2px; */
}
.button:hover{
	box-shadow: -1px 5px #86B3D1;
}
.button a:hover{
	text-decoration:none;
}

/* CSS for collapsible lists */
.collapsible {
	background-color: #FFFFFF;
	color: #000000;
	cursor: pointer;
	padding: 5px;
	margin-bottom: 3px;
	width: 100%;
	border: none;
	text-align: left;
	outline: none;

}
.collapsible:before {
  content: "\25B8\00a0\00a0";
  color: #000000;
  float: left;
  margin-left: -5px;
}
/*.active {
	box-shadow: 0px 1px #AAAAAA;
}*/
.collapsible:hover {
    box-shadow: 0px 1px #86B3D1;
}
.uncollapsible {
  background-color: #FFFFFF;
	color: #000000;
	cursor: pointer;
	padding: 5px;
	margin-bottom: 3px;
	width: 100%;
	border: none;
	text-align: left;
	outline: none;
}
.uncollapsible:before {
  content: "\25AA\00a0\00a0\00a0\00a0";
  color: #000000;
  float: left;
  margin-left: -3px;
}
.active:before {
    content: '\25BE\00a0\00a0';
}
.content {
	padding: 0px 30px 0px 0px;
	overflow: hidden;
	display: none;
}
.open {
	display: block;
}


img{
	display: block;
	margin: 0 auto;
}

body {
	background-color: var(--bgcolor);
	font-family: var(--font);
	margin:0;
	padding:0;
	font-size: 1.1em;
}

a  { 
	color: var(--link-color); 
	text-decoration: none;
	font-weight:500;
}
a:hover { 
	text-decoration: underline; 
}

.anchor {
	/* spacing same as topblock height */
    display: block;
    position: relative;
    top: -80px;
    visibility: hidden;
}

p  {
	margin-top:    var(--spacing);
	margin-bottom: 0px;
}
ul {
	margin-top: var(--spacing);
	margin-bottom: var(--spacing);
	list-style: none;
}
li {
	margin-top: var(--spacing);
	font-family: var(--font);
	color: var(--color);
	margin-left: -40px;
}
h2, h3, h4 {
	font-family: var(--header-font);
	font-weight: normal;
}

h1 {
	font-weight: normal;
	font-family: var(--h1-font);
	font-size: 30px;
}
h2 { /* Used for headings in main section */
	margin-top: 15px;
	margin-bottom: 10px;
	
	font-family: var(--header-font);
	letter-spacing: 2px;
	text-transform: uppercase;
	font-size: 20px;
}
h3 { /* Used for paper subheadings in subsection */
	margin-top: 30px;
	margin-bottom: -10px;
	
	font-family: var(--header-font);
	letter-spacing: 2px;
	text-transform: uppercase;
	font-size: 16px;
}

/* 2. Body classes, in order of appearance */

.wrapper {
	position:static;
	line-height: var(--line-height);
	color: var(--color);
}

.topblock {
	margin: auto;
	border: 1px;
} 
.topcontent {
	position: fixed;
	width: 100%;
	min-width: 900px;
	height: 50px;
	top: -4px;
	
	z-index: 1;
	
	background-color: var(--alt-bgcolor);
	border-bottom: 1px solid #AAA0A0;
}



#name {
	position: absolute;
	top: -10px;
	left: 30px;
	color: var(--color);
}
/* Just for my name in the top left */
#name a {
	color: var(--color);
	text-decoration: none;
}

#menubar {
	font-family: var(--alt-font);
	position: absolute;
	top: 21px;
	right: 20px;
	font-size: 12px;
	word-spacing: 15px;
	letter-spacing: 2px;
}
/* Special underline for the menu bar only */
#menubar a:hover{
	text-decoration: none;
	padding-bottom: 10px;
	border-bottom: 5px solid #86B3D1;
}



.centerblock {
	margin: auto;
	width: var(--content-width);
}
.maintext {
	position: relative;
	margin-left: var(--content-margin);
	padding-top: 60px; /* Necessary to keep my face below the header bar */
	width: var(--content-text-width);
}
.mainsection{
	margin-bottom: 25px;
}
.lalign {
	text-align: center;
}
#mephoto {
	margin: auto;
	top: 70px;
}
#copy {
	padding-top: 20px;
	
	font-family: var(--alt-font);
	text-align: center;
	letter-spacing: 2px;
	font-size: 10px;
}

#booklist {
	font-size:12px;
}

.bottomtext {
	padding-top: 20px;
	
	font-family: var(--alt-font);
	text-align: center;
	letter-spacing: 2px;
	font-size: 12px;
}
.bottomblock {
	margin:auto;
	color: var(--alt-color);
	padding-bottom:8px;
	
	background-color: var(--alt-bgcolor);
	border-top: 1px solid #AAA0A0;
} 	

